.nav-logo {
  width: 1.5rem;
  height: 1.5rem;
}

.student-detail {
  padding: 5rem;

  .img {
    max-width: 5rem;
    width: 200px;
    object-fit: cover;
  }
}

.img-container {
  width: 100%;
  height: 10rem;
  object-fit: cover;

}

.img {
  max-width: 15rem;
  width: 15rem;
  height: auto;
  object-fit: cover;
}
